@import url("./reset.css");
*, html {
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
body {
  background: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  display:grid;
  height: 100vh;
  place-content: center;
}

.container {
  color: #fff;
}
picture{
  background:hsl(277, 64%, 61%);;
}
img{
  width:100%;
  mix-blend-mode: hard-light;
}
ul{
  display: grid;
  text-transform: uppercase;
  row-gap: 1rem;
}
li span{
  display: block;
}
h1, span{
  color:rgb(143,141,167);
}
li span{
  font-size:0.67rem;
}
.info{
  background: hsl(244, 38%, 16%);
  padding:1.75rem;
  text-align: center;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
p{
  padding:3.3rem 0;
  line-height: 1.6;
  color:hsla(0, 0%, 100%, 0.75) ;
}
@media only screen and (min-width:23.68rem) {
    .container{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin:0 auto;
      max-width: 56.25rem;
    }
    img{
      width:100%;
      height: 100%;
      object-fit: cover;
    }
    .info{
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: left;
      width:18.75rem;
      justify-self: end;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    h1, li{
      color:#fff
    }
    picture{
      grid-column: 2/3;
    }
    img{
      height: 100%;
    }
    span.magenta{
      color: hsl(277, 64%, 61%);
    }

}
